* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.header {
	height: 600px;
	background: linear-gradient(to right, #43cea2, #185a9d);
}
.header_content {
	color: white;
	font-size: 100px;
	padding-left: 510px;
	padding-top: 150px;
	font-family: Arial;
	font-weight: bolder;
}
.menubar {
	background-color: #30d5df;
	height: 55px;
}
.menu {
	font-family: Arial;
	font-weight: bold;
	color: white;
	padding-top: 12px;
	font-size: 35px;
}
.bar {
	margin-left: 345px;
}
.menubar a {
	color: white;
	text-decoration: none;
}
.page_content_one {
	font-weight: bolder;
	font-size: 65px;
	font-family: Arial;
	padding-top: 30px;
	padding-left: 535px;
}
.page_content {
	font-family: 'Montserrat', sans-serif;
}